@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-gradient: linear-gradient(
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  --circle-gradient: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  --orangey-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --cobalt-blue: 234, 85%, 45%;
  --light-red: 0, 100%, 67%;

  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  height: 500px;
  width: 700px;
  box-shadow: 10px 30px 20px 60px var(--pale-blue);
}

.container-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background-image: var(--background-gradient);
  color: var(--white);
  width: 350px;

  h1 {
    font-size: 23px;
    font-weight: 700;
    color: var(--light-lavender);
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--circle-gradient);
    border-radius: 50%;
    width: 200px;
    height: 200px;

    h2 {
      font-size: 70px;
      font-weight: 800;
    }

    h3 {
      color: var(--light-lavender);
      font-weight: 500;
      opacity: 40%;
    }
  }

  h4 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--pale-blue);
  }

  p {
    font-size: 18px;
    margin: 0 45px;
    text-align: center;
    font-weight: 500;
    color: var(--light-lavender);
    opacity: 80%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.container-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;

  h1 {
    align-self: flex-start;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    color: var(--dark-gray-blue);
  }

  .container-row {
    margin-top: -30px;
  }
}

.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  margin: 0 auto;
  height: 55px;
  font-size: 18px;

  img {
    margin: 0 10px;
  }

  h4 {
    font-weight: 500;
    width: 140px;
  }

  p {
    font-weight: 300;
    margin-right: 15px;
  }
}

.reaction {
  background-color: hsla(var(--light-red), 0.1);
  border-radius: 10px;

  h4 {
    color: hsl(var(--light-red));
  }
}

.memory {
  background-color: hsla(var(--orangey-yellow), 0.1);
  border-radius: 10px;

  h4 {
    color: hsl(var(--orangey-yellow));
  }
}

.verbal {
  background-color: hsla(var(--green-teal), 0.1);
  border-radius: 10px;

  h4 {
    color: hsl(var(--green-teal));
  }
}

.visual {
  background-color: hsla(var(--cobalt-blue), 0.1);
  border-radius: 10px;

  h4 {
    color: hsl(var(--cobalt-blue));
  }
}

.submit {
  width: 270px;
  height: 55px;
  border-radius: 40px;
  font-size: 18px;
  background-color: var(--dark-gray-blue);
  color: var(--pale-blue);
  border: none;
}

button:hover {
  background-color: hsl(var(--cobalt-blue));
  color: var(--pale-blue);
  border: none;
  cursor: pointer;
}

@media (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 1000px;
    width: 400px;
    margin: 1rem;
  }

  .container-result {
    width: 400px;

    h1 {
      font-size: 20px;
    }

    h4 {
      font-size: 25px;
    }
    p {
      font-size: 18px;
    }

    .result {
      width: 150px;
      height: 150px;

      h2 {
        font-size: 60px;
      }
    }
  }

  .container-summary {
    height: 500px;
    width: 400px;

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }

  .container-row {
    width: 330px;
  }
}
